
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
:root{
  --resum-title-color:#050d18;
  --resume-h4-color:#050d18;
  --resume-h5-bg:#e4edf9;
}
[data-theme='dark']{
  --resum-title-color:#9c6a14;
  --resume-h4-color:#b37814;
  --resume-h5-bg:#fcf3df;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color:var(--resum-title-color);
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--active-color);
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:var(--resume-h4-color);
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: var(--resume-h5-bg);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color:#272829;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--active-color);
 
  }
  