/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
:root{
  --btn-color:#149ddd;
  --btn-hover:#37b3ed;
  --info-p:#173b6c;
  --input-focused:#61c7f6;
  --info-i-bg:#dff3fc; 
}
[data-theme='dark']{
  --btn-color: #e7a635;
  --btn-hover:#efb549;
  --info-p:#f09800;
  --input-focused:#f6ce61;
  --info-i-bg:#fcf3df; 
}
.contact {
  padding-bottom: 130px;
  background: transparent;
}
.contact iframe{
  border:0; 
  width: 100%;
  height: 290px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: var(--btn-color);
  float: left;
  width: 44px;
  height: 44px;
  background:var(--info-i-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--info-p);
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: var(--btn-color);
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--btn-color);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
 
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus{
  border-color: var(--input-focused);
}

.contact .php-email-form input {
  height: 44px;
  visibility: visible;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: var(--btn-color);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}


.contact .php-email-form button[type=submit]:hover {
  background: var(--btn-hover);
}
.btn-color-class{
  background-color:#149ddd;
}
label{
  color:#272829;
}



  