/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
:root {
  --header-bg: #040b14;
  --header-profile-border:#2c2f3f;
  --header-direction: column;
  --header-width:300px;


}
[data-theme='dark'] {
  --header-bg: #ffB200;
  --header-profile-border:#322505;
  --header-direction: row;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: var(--header-bg);
  overflow-y: auto;
  display: flex;
  flex-direction:column;
}

.header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid var(--header-profile-border);
}

.header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
 
}

.header .profile h1 a,
.header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}


#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}
