:root{
  --btn-down-color:rgb(5, 122, 172);
}
[data-theme='dark']{
  --btn-down-color:rgb(187, 135, 3);
}
.optionbox{
    margin-left: 15px;
  }
  .optionbox select {
      background:#fff;
      color:#272821;
      padding-left:13px;
      width: 85px;
      height: 25px;
      -webkit-appearance: none;
      border: none;
      font-size: 12px;
      font-weight: 500;
      box-shadow: 0 2px 7px rgb(5, 122, 172);
      outline: none;
      border-radius: 10px;
      box-sizing: border-box;   

  }
  
  .btn-down i{
    color: var(--btn-down-color);
    font-size: 12px;
    align-items: center;
    text-align: center;
    line-height: 50px;
  }
  .btn-down {
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 63px;
    margin-top: -11px;
    
  }
  
  .optionbox:hover:before{
     
    background: #ffffff;
  
 }  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  